<ion-header>
		<ion-navbar color="primary">
			<ion-title>
				{{ nombreLista || 'Nueva Lista' }}
			</ion-title>
		</ion-navbar>
	</ion-header>

	<ion-content>
		<ion-card>
			<ion-card-header>
				<ion-item>
					<ion-label floating>Nombre de la lista</ion-label>
					<ion-input type="text" [(ngModel)]="nombreLista" name="nombreLista"></ion-input>
				</ion-item>
			</ion-card-header>

			<ion-card-content>

				<ion-item>
					<ion-label floating>Item: </ion-label>
					<ion-input ng-keyup="enter" type="text" [(ngModel)]="nombreItem" name="nombreItem"></ion-input>
				</ion-item>

				<button ion-button full color="primary" (click)="agregar()">Agregar</button>

			</ion-card-content>
		</ion-card>

		<ion-card>
			<ion-card-header>
				<h3>Items agregados</h3>
			</ion-card-header>

			<ion-card-content>
				<ion-list>
					<ion-item *ngFor="let item of items; let i = index">
						<button 
							ion-button
							color="primary"
							clear
						>
							{{ item.nombre }}
						</button>
						<button
							ion-button
							item-right
							color="danger"
							outline
							(click)="borrar(i)"
						>
							<ion-icon ios="ios-trash" md="md-trash"></ion-icon>
							Borrar item {{ i }}
						</button>
					</ion-item>
				</ion-list>
			</ion-card-content>
		</ion-card>

		<button
			ion-button
			full
			(click)="agregarLista()"
		>
			<ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
			Agregar Lista
		</button>
	</ion-content>