<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Lista de Pendientes
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let lista of _listaDeDeseos?.listas | pendientes:true; let i = index">

		<ion-item color="dark" (click)="verDetalle(lista, i)">
			<h2>{{ lista.nombre }}</h2>
			<ion-note item-right>
				{{ lista.items.length }}
			</ion-note>
		</ion-item>

		<ion-list >
			<button 
				ion-item
				*ngFor="let item of lista.items | slice:0:2"
				(click)="verDetalle(lista, i)"
			>
				<ion-icon *ngIf="!item.completado" ios="ios-square-outline" md="md-square-outline"></ion-icon>
				<ion-icon *ngIf="item.completado" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
				{{ item.nombre }}
			</button>

			<button
				ion-item
				*ngIf="lista?.items.length > 2"
				class="text-center"
			>
				<ion-icon ios="ios-arrow-dropdown" ms="md-arrow-dropdown" color="primary" ></ion-icon>
			</button>
		</ion-list>

	</ion-card>

	<ion-fab right bottom>
		<button ion-fab color="primary" (click)="irAgregar()">
			<ion-icon ios="ios-add" md="md-add"></ion-icon>
		</button>
	</ion-fab>


</ion-content>
				