<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			{{ lista.nombre }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-card>
		<ion-card-header>
			<ion-item>
				<ion-label floating>Username</ion-label>
				<ion-input type="text" [(ngModel)]="lista.nombre"></ion-input>
			</ion-item>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item *ngFor="let item of lista.items" (click)="actualizar(item)">
					<ion-icon
						item-left
						ios="ios-square-outline"
						md="md-square-outline"
						*ngIf="!item.completado"
					></ion-icon>
					<ion-icon
						item-left
						ios="ios-checkbox-outline"
						md="md-checkbox-outline"
						*ngIf="item.completado"
					></ion-icon>
					<h2 [class.tachado]="item.completado">{{ item.nombre }}</h2>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<br><br>

	<button 
		ion-button full color="danger"
		(click)="borrarLista()"
	>Borrar lista</button>
</ion-content>
